<footer>
    <p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img witdh="80" style="width: auto" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> ~ <a href="mailto:me@gutierri.me" title="E-mail: me@gutierri.me">me@gutierri.me</a></p>
</footer>
</body>
</html>
